@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 28 100% 97%;
    --foreground: 0 0% 17%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 17%;
    --primary: 16 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 100% 63%;
    --secondary-foreground: 0 0% 17%;
    --muted: 28 100% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 28 100% 77%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 50% 85%;
    --input: 28 50% 85%;
    --ring: 16 100% 60%;
    --chart-1: 16 100% 60%;
    --chart-2: 20 100% 63%;
    --chart-3: 28 100% 77%;
    --chart-4: 35 100% 70%;
    --chart-5: 40 100% 65%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 100% 63%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 16 100% 60%;
    --chart-1: 16 100% 60%;
    --chart-2: 20 100% 63%;
    --chart-3: 28 100% 77%;
    --chart-4: 35 100% 70%;
    --chart-5: 40 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
